<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/dashboard">Admin Dashboard</a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebar-collapse" data-cy="topNavToggleSideNav"
    (click)="toggleSideNav()">
    <i class="fa fa-bars"></i>
  </button><!-- Navbar Search-->
  <div class="ml-auto">
    <h4>Admin Origin - India</h4>
  </div>
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <!-- <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
        aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div> -->
    <input type="text" class="form-control pull-right" style="width:10%;">
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown dropdown-user no-caret" ngbDropdown placement="bottom-right" display="dynamic">
      <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu  aria-labelledby="dropdownUser">
        <div class="d-flex">
            <img src="assets/images/avatar.jpg" alt="" height="75px" class="rounded-circle">
          <div id="user-profile">
            username: username
          </div>
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </li>
  </ul>
</nav>
