<!-- <p-menu [model]="items" styleClass="sidebar"></p-menu> -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link navbar-success">
    <img src="assets/Logo.png" alt="Logo" class="brand-image img-circle elevation-3"
      style="opacity: 0.8;" />
    <span class="brand-text font-weight-light">AdminLTE 3</span>
  </a>

  <!-- Sidebar -->
  <!-- <div class="sidebar"> -->
    <!-- Sidebar Menu -->
    <!-- <nav> -->
      <p-menu [model]="items" styleClass="sidebar"></p-menu>
    <!-- </nav> -->
    <!-- /.sidebar-menu -->
  <!-- </div> -->
  <!-- /.sidebar -->
</aside>
